{% load static %}
    <!-- Carousel
    ================================================== -->
     <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active" style="background-image: url('/static/images/photos/photo-0b.jpg')">
          <div class="container">
            <div class="carousel-caption">
              <h1>GDG DevFest Ukraine 2013</h1>
              <p>Два дні, три потоки, чотири локації і п’ять івентів!</p>
<!--              <p><a href="/registration" class="btn btn-large btn-primary" >Зареєструватися</a></p>-->
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url('/static/images/photos/photo-1b.jpg')">
          <div class="container">
            <div class="carousel-caption">
              <h1>Два дні драйву та знайомств</h1>
              <p>GDG DevFest Ukraine збере в одному місці фанатів та професіоналів своєї справи</p>
              <!--<p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>-->
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url('/static/images/photos/photo-2b.jpg')">
          <div class="container">
            <div class="carousel-caption">
              <h1>Лише найновіші технології</h1>
              <p>Google Glass, Chromebook'ки, Chromecast'и та багато іншого</p>
              <!--<p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>-->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="/static/images/carousel-nav-prev.png"></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><img class="img-next" src="/static/images/carousel-nav-next.png"></a>
    </div><!-- /.carousel -->
