{% load static %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static "images/photos/photo-1.jpg" %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>3 дні драйву та знайомств</h1>
              <p>GDG DevFest Ukraine збере в одному місці фанатів та професіоналів своєї справи</p>
              <!--<p><a class="btn btn-large btn-primary" href="#">Sign up today</a></p>-->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/png;base64," data-src="{% static "holder.js/100%x500/social" %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Безліч однодумців</h1>
              <p>Лише на GDG DevFest Ukraine ви знайдете таку кількість гіків в одному місці</p>
              <!--<p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>-->
            </div>
          </div>
        </div>
        <div class="item">
          <img class="img-responsive" src="{% static "images/photos/photo-0.jpg" %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Лише найновіші технології</h1>
              <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>-->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
