{% load static %}

     <footer>
        <div class="footer-top">
            <div class="container">
                <img class="google-line pull-right" src="{% static "images/google-line.png" %}">
                <div class="col-xs-6 col-sm-4 col-md-3">
                <h4>Навігація</h4>
                    <ul>
                        <li><a href="/">Головна</a></li>
                        <li><a href="/agenda">Програма</a></li>
                        <li><a href="/speakers">Спікери</a></li>
                        <li><a href="/location">Розташування</a></li>
                        <li><a href="/devfest2012">DevFest 2012</a></li>
                     </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                <h4>Посилання</h4>
                    <ul>
                        <li><a href="http://gdg.org.ua">GDG.org.ua</a></li>
                        <li><a href="https://developers.google.com/">Google Developers</a></li>
                     </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <h4>Контакти</h4>
                    <ul>
                        <li><a href="mailto:devfest@gdg.org.ua">devfest@gdg.org.ua</a></li>
                     </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 social">
                    <h4>Слідкуйте за нами</h4>
                    <a href=""><img src="{% static "images/gplus.png" %}"></a>
                    <a href=""><img src="{% static "images/gmail.png" %}"></a>
                    <a href=""><img src="{% static "images/youtube.png" %}"></a>
                    <a href=""><img src="{% static "images/twitter.png" %}"></a>
                    <a href=""><img src="{% static "images/rss.png" %}"></a>
                </div>
            </div>
         </div>
      <div class="footer-bottom">
          <div class="container">
              <img class="pull-right" src="{% static "images/plus-one.png" %}">
          <p>&copy; 2013 Designed and created by <a href="https://plus.google.com/102989169039151799851/about">Oleh Zasadnyy</a> &middot; <a href="http://lviv.gdg.org.ua/">GDG Lviv</a></p>
          
          </div>
          </div>
    </footer>
