{% load static %}

<div class="row partners-row">
    <div class="col-md-3">
        <h3 class="partners-text">Генеральний спонсор</h3>
    </div>
    <div class="col-md-9">
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://google-ukraine-blog.blogspot.com/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/google-new.png " %}" alt="Google" title="Google Україна">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners partners-button">
            <a href="{% static "docs/DevFestUkraine-SponsorProposition.pdf " %}">Стати спонсором</a>
        </div>
    </div>
    
</div>

<div class="row partners-row">
    <div class="col-md-3">
        <h3 class="partners-text">Золотий спонсор</h3>
    </div>
    <div class="col-md-9">
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://www.globallogic.com.ua/en/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/globallogic.jpg " %}" alt="GlobalLogic" title="GlobalLogic">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners partners-button">
            <a href="{% static "docs/DevFestUkraine-SponsorProposition.pdf " %}">Стати спонсором</a>
        </div>
    </div>
</div>

<div class="row partners-row">
    <div class="col-md-3">
        <h3 class="partners-text">Спонсор проведення хакатону</h3>
    </div>
    <div class="col-md-9">
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://lohika.com.ua/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/lohika.jpg" %}" alt="Lohika" title="Lohika">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners partners-button">
            <a href="{% static "docs/DevFestUkraine-SponsorProposition.pdf " %}">Стати спонсором</a>
        </div>
    </div>
</div>

<div class="row partners-row">
    <div class="col-md-3">
        <h3 class="partners-text">Спонсори</h3>
    </div>
    <div class="col-md-9">
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://zakaz.ua/uk/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/zakazua.jpg" %}" alt="Zakaz.Ua" title="Zakaz.Ua">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners partners-button">
            <a href="{% static "docs/DevFestUkraine-SponsorProposition.pdf " %}">Стати спонсором</a>
        </div>
    </div>
</div>

<div class="row partners-row">
    <div class="col-md-3">
        <h3 class="partners-text">Партнери</h3>
    </div>
    <div class="col-md-9">
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://www.dataart.ua/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/dataart.jpg " %}" alt="DataArt" title="DataArt">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://www.ciklum.com/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/ciklum.jpg " %}" alt="Ciklum" title="Ciklum">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://www.itstep.org/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/itsteap.gif " %}" alt="Комп'юрна академія ШАГ" title="Комп'юрна академія ШАГ">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://www.hackerspace.com.ua/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/hackerspace.png " %}" alt="Hackerspace Kyiv" title="Hackerspace Kyiv">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners partners-button">
            <a href="{% static "docs/DevFestUkraine-SponsorProposition.pdf " %}">Стати партнером</a>
        </div>
    </div>
</div>

<div class="row partners-row">
    <div class="col-md-3">
        <h3 class="partners-text">Інформаційні партнери</h3>
    </div>
    <div class="col-md-9 ">
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://puregoogle.ru/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/puregoogle.png " %}" alt="puregoogle.ru" title="PureGoogle.ru - сайт присвячений компанії Google її продуктам та пристроям">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://jug-lviv.blogspot.com/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/jug_lviv.png " %}" alt="Java User Group of Lviv" title="Java User Group of Lviv">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://be-sparkle.com/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/bespark.png" %}" alt="BE-SPARKLE" title="BE-SPARKLE - Натхненні інноваціями у таких сферах, як кіно, реклама, технології та стартапи.">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://android.com.ua/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/android-ukraine.png" %}" alt="Android Ukraine" title="Android Україна - все про Android, смартфони та планшети.">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://www.uamobile.org/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/uamobile.png" %}" alt="UA Mobile" title="UA mobile - перша всеукраїнська конференція в сфері мобільних технологій">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://appclub.im/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/appclub.png" %}" alt="AppClub { build, monetize }" title="AppClub { build, monetize }">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://gamedev.lviv.ua/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/gamedev.png" %}" alt="GameDev Lviv 2013" title="Конференція GameDev Conference 2014 покликана сприяти популяризації розробки ігор в Україні.">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners partners-button">
            <a href="{% static "docs/DevFestUkraine-SponsorProposition.pdf " %}">Стати партнером</a>
        </div>
    </div>
</div>