{% load static %}

    <div class="row partners-row">
        <div class="col-md-3">
            <h3 class="partners-text">Генеральні спонсори</h3>
        </div>
        <div class="col-md-9">
          <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://google-ukraine-blog.blogspot.com/"><img class="featurette-image img-responsive" src="{% static "images/partners/google.png" %}" alt="Google" title="Google Україна"></a>
          </div>
            <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://privatbank.ua/ua/"><img class="featurette-image img-responsive" src="{% static "images/partners/privatbank.gif" %}" alt="Приватбанк" title="Приватбанк"></a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3 partners partners-button">
            <a href="{% static "docs/DevFestUkraine-SponsorProposition.pdf" %}">Стати спонсором</a>
          </div>
       </div>
    </div>
        
    <div class="row partners-row">
        <div class="col-md-3">
            <h3 class="partners-text">Спонсори</h3>
        </div>
        <div class="col-md-9">
          <div class="col-xs-6 col-sm-3 col-md-3 partners partners-button">
            <a href="{% static "docs/DevFestUkraine-SponsorProposition.pdf" %}">Стати спонсором</a>
          </div>
       </div>
     </div>

    <div class="row partners-row">
        <div class="col-md-3">
            <h3 class="partners-text">Партнери</h3>
        </div>
        <div class="col-md-9">
          <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://www.dataart.ua/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/dataart.jpg" %}" alt="DataArt" title="DataArt">
            </a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://www.itstep.org/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/itsteap.gif" %}" alt="Комп'юрна академія ШАГ" title="Комп'юрна академія ШАГ">
            </a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3 partners partners-button">
            <a href="{% static "docs/DevFestUkraine-SponsorProposition.pdf" %}">Стати партнером</a>
          </div>
       </div>
     </div>
        
        <div class="row partners-row">
        <div class="col-md-3">
            <h3 class="partners-text">Інформаційні партнери</h3>
        </div>
        <div class="col-md-9 ">
          <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://puregoogle.ru/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/puregoogle.png" %}" alt="puregoogle.ru" title="PureGoogle.ru - сайт присвячений компанії Google її продуктам та пристроям">
            </a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3 partners partners-button">
            <a href="{% static "docs/DevFestUkraine-SponsorProposition.pdf" %}">Стати партнером</a>
          </div>
       </div>
      </div>
