{% load static %}

        <div id="ri-grid" class="ri-grid ri-grid-size-2">
                    <img class="ri-loading-image" src="{% static "images/loading.gif" %}"/>
                    <ul>
                        <li><a href="#"><img src="{% static "images/medium/1.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/2.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/3.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/4.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/5.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/6.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/7.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/8.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/9.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/10.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/11.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/12.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/13.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/14.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/15.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/16.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/17.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/18.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/19.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/20.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/21.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/22.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/23.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/24.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/25.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/26.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/27.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/28.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/29.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/30.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/31.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/32.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/33.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/34.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/35.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/36.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/37.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/38.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/39.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/40.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/41.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/42.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/43.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/44.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/45.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/46.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/47.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/48.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/49.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/50.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/51.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/52.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/53.jpg" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/medium/54.jpg" %}"></a></li>
                    </ul>
                </div>
