{% extends "base.html" %}
{% load static %}

{% block page_title %}Agenda &middot; GDG DevFest Ukraine 2013{% endblock %}

{% block carousel %}
    {% include "blocks/carousel.html" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-11">
            <h2 class="day">Day 1</h2>
            <ul class="cbp_tmtimeline">
                <li>
                    <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>26/10/13</span> <span>09:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Ricebean black-eyed pea</h2>
                        <p> Mandaremus lorem fore cernantur esse, an quae tempor praetermissum de ne culpa 
                            quibusdam singulis do lorem laborum litteris. A summis adipisicing ea arbitror 
                            quo incurreret. Nostrud summis ita ingeniis transferrem. </p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>26/10/13</span> <span>10:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Greens radish arugula</h2>
                        <p>Caulie dandelion maize...</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-04-13 05:36"><span>26/10/13</span> <span>12:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <img class="img-circle pull-left" src="{% static "images/speakers/dimka-maleev.png" %}" alt="Дмитро Малєєв">
                        <h2><a href="speakers.html#dmytro_maleev">Дмитро Малєєв</a></h2>
                        <p>Діма має більш ніж 6-річний досвід в області ІТ. 
                            В даний час він працює менеджером з мобільних 
                            рішень для SoftServe. Він – прихильник ІТ спільнот, 
                            активний спікер, засновник і лідер .NET User Group 
                            у Львові, активний член Mobilination, TEDx, доповідач 
                            на IT Jam та IT Weekend.</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-04-15 13:15"><span>26/10/13</span> <span>12:30</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Watercress ricebean</h2>
                        <p>Peanut gourd nori...</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>26/10/13</span> <span>16:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Courgette daikon</h2>
                        <p>Parsley amaranth tigernut...</p>
                    </div>
                </li>
             </ul>
            
            <h2 class="day">Day 2</h2>
            <ul class="cbp_tmtimeline">
                <li>
                    <time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>27/10/13</span> <span>10:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Greens radish arugula</h2>
                        <p> Incurreret dolor incididunt ullamco et commodo transferrem in eiusmod e et 
                            quamquam fidelissimae, ullamco enim voluptate, o malis cupidatat distinguantur e 
                            ea proident exercitation, varias exercitation expetendis quae iudicem, nam minim 
                            ut fore. Ita ubi anim cillum fugiat in incididunt varias elit doctrina multos, 
                            admodum aliqua sint doctrina quid, ita ne sempiternum. Nostrud si dolore ne 
                            possumus eruditionem e tempor. De ut lorem amet nulla aut laborum qui veniam 
                            incididunt, noster arbitror quo quis veniam, veniam aut fabulas in labore 
                            pariatur vidisse ut mandaremus fore litteris commodo, qui cernantur firmissimum 
                            ubi hic incididunt adipisicing. Id eram quibusdam consequat. </p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-04-13 05:36"><span>27/10/13</span> <span>12:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Sprout garlic kohlrabi</h2>
                        <p>Parsnip lotus root...</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>27/10/13</span> <span>16:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Courgette daikon</h2>
                        <p>Parsley amaranth tigernut...</p>
                    </div>
                </li>
             </ul>
        </div>
    </div>     
    
    <hr class="featurette-divider">
      

      {% include "blocks/partners.html" %}

{% endblock %}