{% extends "base.html" %}
{% load static %}

{% block page_title %}Програма &middot; GDG DevFest Ukraine 2013{% endblock %}

{% block carousel %}
    {% include "blocks/carousel.html" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="alert alert-warning" style="margin: 15px;">
            <i><b>Хей!</b> Програма ще не остаточна і знаходиться в активній розробці.</i>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-11">
            
                <h2 class="day">День 1</h2>
                <ul class="cbp_tmtimeline">
                <li>
                    <time class="cbp_tmtime" datetime="2013-10-26 9:00"><span>26/10/13</span> <span>з 9:00 до 18:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Старт Хакатону</h2>
                        <p> <b>Де?</b> <a href="/location#location_1">Офіс Ciklum, вул. Амосова 12, 20 поверх</a></p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-10-26 18:00"><span>26/10/13</span> <span>з 18:00 до 19:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Demo Show проектів хакатону</h2>
                        <p>Найбільш інтригуюча частина хакатону, презентація проектів та визначення переможців <br/> <b>Де?</b> <a href="/location#location_1">Офіс Ciklum, вул. Амосова 12, 20 поверх</a> </p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-10-26 20:00"><span>26/10/13</span> <span>з 20:00 до 22:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Саміт лідерів <abbr title="Google Developers Group">GDG</abbr></h2>
                        <p> <b>Де?</b> <a href="/location#location_3">Офіс DataArt, Бехтеревский провулок 14-E, 6 поверх</a></p>
                    </div>
                </li>

                <h2 class="day">День 2</h2>
                <li>
                    <time class="cbp_tmtime" datetime="2013-10-27 09:00"><span>27/10/13</span> <span>з 09:00 до 18:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Конференція</h2>
                        <p> <b>Де?</b> <a href="/location#location_2">Бізнес центр "101 Towers", вул. Льва Толстого 57</a> </p>
                    </div>
                </li>
                
             </ul>
            
        </div>
    </div>     
    
    <hr class="featurette-divider">
      

      {% include "blocks/partners.html" %}

{% endblock %}