{% extends "base.html" %} 

{% load static %} 

{% block page_title %}Конференція &middot; GDG DevFest Ukraine 2013{% endblock %} 

{% block carousel %} 
    {% include "blocks/carousel.html" %} 
{% endblock %} 

{% block content %}
    <h1 id="speakers_header">Конференція</h1>
    <div class="row">
        <div class="col-md-3">
            <img class="img-circle" src="/static/images/conference.png" alt="Conference">
        </div>
        <div class="col-md-9">
            <p>
                <b style="font-weight: 600;">27 жовтня</b>, в приміщенні надсучасного бізнес центру "101 Towers" у самісінькому центрі Києва відбудеться найбільша девелоперська конференція присвячена технологіям Google в Україні.</p> 
            <p>З величезного розмаїття сучасних гугло-продуктів ми вирішили зосередитись на двох трендових “А” — Android та AngularJS. Саме їм присвячено два потоки Конференції. Третій потік ми назвали GDG[X] Сюди ми зібрали різноманітну “екзотику” від футурологічних проектів таємничого спецпідрозділу GoogleX і опенсорсних спільних проектів глобальної спільноти GDG[x] до різноманітних програм, що пропонує Google девелоперам, жінкам і студентам. Обговорення цих тем буде продовжено також на двох круглих столах. </p>

                <p>В перервах Конференції — GadgetTime (Google Glass, ChromeCast, Chromebook Pixel та MotoX, квадрокоптери та 3D-printer) за модерацією Антона Карпенка ака Karpolan </p>
            
            <p>В фіналі конференції — <abbr title="Google Developers Group">GDG</abbr> Ukraine Awards де буде визначено найяскравіши групи, особи та події цього року.</p>

            <p><a href="/registration" class="btn btn-large btn-primary" style="margin-top: 40px">Зареєструватися</a></p>
            
            
            
        </div>
    </div>
    <hr class="featurette-divider">
    
    {% include "blocks/partners.html" %} 

{% endblock %}