{% extends "base.html" %}

{% load static %} 

{% block page_title %}Хакатон &middot; GDG DevFest Ukraine 2013{% endblock %} 

{% block carousel %} 
    {% include "blocks/carousel.html" %} 
{% endblock %} 

{% block content %}
    <h1 id="speakers_header">Хакатони та техтолк</h1>
    <div class="row">
        <div class="col-md-3">
            <img class="img-circle" src="/static/images/hackathon.png" alt="Хакатон">
        </div>
        <div class="col-md-9">
            <p>
                <b style="font-weight: 600;">26 жовтня</b>, нон-стоп кодинг для найстійкіших, море RedBull'у, фану та цікавих знайомств і все для того, щоб показати в кінці робочий прототип додатку на найновішихих платформах від Google</p>
        
            
            <h3 style="margin-top: 40px;">AndroidHot <a href="/location/#location_1">(Ciklum 09:00-19:00)</a></h3>
<p>30 учасників протягом 10-ти годин працюють над прототипами додатків. Вітається орієнтація на новинки Android API та на Chromecast API.</p>
            <a href="http://gdg.org.ua/events/30/register" class="btn btn-large btn-primary">Зареєструватися</a>

            <h3 style="margin-top: 40px;">AngularJSabbath <a href="/location/#location_3">(DataArt 11:00-16:00)</a></h3>
<p>Міні-хакатон. 20 учасників. Протягом 5-ти годин маленькі команди з досвічених веб-девелоперів та початківців створять невеличкі ігри на AngularJS та HTML5 (CSS3/canvas/...) У підсумку буде визначено переможця.</p>
            <a href="http://gdg.org.ua/events/29/register" class="btn btn-large btn-primary">Зареєструватися</a>

            <h3 style="margin-top: 40px;">Техтолк з Еріком Лафортюн <a href="/location/#location_1">(GlobalLogic 17:00-18:30)</a></h3>
<h4>Тема: “Optimisation, Obfuscation, and Protection of Java Applications”</h4>
<p>Зустріч із “мега-зіркою” DevFest, ключовим спікером конференції, міжнародним авторитетом з Java та Android, творцем славетної програми ProGuard бельгійцем Еріком Лафортюн (Eric Lafortune). На зустрічі ми обговоримо виклики та проблеми захисту та хард-корної оптимізації Java-коду. Ви отримаєте можливість поспілкуватися з автором ProGuard та іншими зацікавленими учасниками. Участь у зустрічі безкоштовна за умови реєстрації.</p>
            <a href="http://gdg.org.ua/events/28/register" class="btn btn-large btn-primary">Зареєструватися</a>

            
            
        </div>
    </div>
    <hr class="featurette-divider">
    
    {% include "blocks/partners.html" %} 
{% endblock %}