{% extends "base.html" %}

{% load static %} 

{% block page_title %}Хакатон &middot; GDG DevFest Ukraine 2013{% endblock %} 

{% block carousel %} 
    {% include "blocks/carousel.html" %} 
{% endblock %} 

{% block content %}
    <h1 id="speakers_header">Хакатони та техтолк</h1>
    <div class="row">
        <div class="col-md-3">
            <img class="img-circle" src="/static/images/hackathon.png" alt="Хакатон">
        </div>
        <div class="col-md-9">
            <p>
                <b style="font-weight: 600;">26 жовтня</b>, нон-стоп кодинг для найстійкіших, море RedBull'у, фану та цікавих знайомств і все для того, щоб показати в кінці робочий прототип додатку на найновішихих платформах від Google</p>
        
            
            <h3 style="margin-top: 40px;">AndroidHot <a href="/location/#location_1">(Ciklum 09:00-19:00)</a></h3>
<p>30 учасників протягом 10-ти годин працюють над прототипами додатків. Вітається орієнтація на новинки Android API та на Chromecast API.</p>
            <br>
            <h4>Правила</h4>
            <ul>
                <li>В кожної команди буде 10 годин, щоб підготувати прототип додатку на одну з запропонованих тем</li>
                <li>Ми стараємося йти в ногу з часом, тому пропонуємо розібратися з такими темами до початку хакатону: <a href="https://developer.android.com/google/play-services/location.html">Location APIs</a>, <a href="https://developer.android.com/google/play-services/games.html">Google Play Game Services</a>,  а також новинкою <a href="https://developers.google.com/cast/">Google Cast API</a></li>
                <li>Chromecast для тестування буде :)</li>
                <li>Команда може складатися <b>максимум з 4 людей</b></li>
                <li>До демо-шоу і визначення переможців допускаються лише зареєстровані в центральному репозиторії та клікабельні додатки</li>
                <li>Кожна команда буде мати 5 хв для презентації свого додатку</li>
                <li>Переможців хакатону визначить незалежне журі на чолі з Еріком Лафортюном</li>
                <li>При визначенні переможців, журі буде оцінювати використання запропонованих API, новизну ідеї (чи є аналоги на ринку) і актуальність ідеї</li>
            </ul>
            <br>
            <h4>Аґенда</h4>
            <p><b>09:00 - 09:30</b> &nbsp;&nbsp;Реєстрація, знайомство, вітальна кава</p>
            <p><b>09:30 - 10:00</b> &nbsp;&nbsp;Вітальне слово від організаторів. Пітч ідей</p>
            <p><b>10:00 - 18:30</b> &nbsp;&nbsp;Development, development, development...</p>
            <p><b>18:30 - 19:00</b> &nbsp;&nbsp;Реєстрація додатків на демо-шоу</p>
            <p><b>19:00 - 19:30</b> &nbsp;&nbsp;Демо-шоу та визначення переможців</p>
            <br>
            <a href="http://gdg.org.ua/events/30/register" class="btn btn-large btn-primary">Зареєструватися</a>
            <br>
            <hr>
            
            <h3 style="margin-top: 40px;">AngularJSabbath <a href="/location/#location_3">(DataArt 11:00-16:00)</a></h3>
<p>Міні-хакатон. 20 учасників. Протягом 5-ти годин маленькі команди з досвічених веб-девелоперів та початківців створять невеличкі ігри на AngularJS та HTML5 (CSS3/canvas/...) У підсумку буде визначено переможця.</p>
            <a href="http://gdg.org.ua/events/29/register" class="btn btn-large btn-primary">Зареєструватися</a>
            <br>    
            <hr>
            <h3 style="margin-top: 40px;">Техтолк з Еріком Лафортюн <a href="/location/#location_1">(GlobalLogic 17:00-18:30)</a></h3>
<h4>Тема: “Optimisation, Obfuscation, and Protection of Java Applications”</h4>
<p>Зустріч із “мега-зіркою” DevFest, ключовим спікером конференції, міжнародним авторитетом з Java та Android, творцем славетної програми ProGuard бельгійцем Еріком Лафортюн (Eric Lafortune). На зустрічі ми обговоримо виклики та проблеми захисту та хард-корної оптимізації Java-коду. Ви отримаєте можливість поспілкуватися з автором ProGuard та іншими зацікавленими учасниками. Участь у зустрічі безкоштовна за умови реєстрації.</p>
            <a href="http://gdg.org.ua/events/28/register" class="btn btn-large btn-primary">Зареєструватися</a>

            
            
        </div>
    </div>
    <hr class="featurette-divider">
    
    {% include "blocks/partners.html" %} 
{% endblock %}