{% extends "base.html" %} 

{% load static %} 

{% block carousel %} 
    {% include "blocks/carousel.html" %} 
{% endblock %} 

{% block content %}

<div class="container">
<div class="row featurette">
    <div class="col-md-5">
        <h2 class="featurette-heading">26-27 жовтня, Київ</h2>
        <p class="lead no_a_highlight">
            <a href="/location">4 локації</a>, <a href="/agenda">5 івентів, 2 дні</a>
            <br/>
<!--            <a href="/location#location_2">БЦ "101 Towers", вул. Льва Толстого 57</a>-->
        </p>
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">Що?</h2>
        <p class="lead">
            <b style="font-weight: 500;">DevFest</b>- це щорічний івент, організований силами українського ком'юніті Google Developers Group. Цього року ми робимо DevFest мультизадачним, як Android та сфокусованим, як Ларі Пейдж!)
П’ять івентів дозволять учасникам попрацювати у різноманітних форматах: техтолки, творчі зустрічі, гаджет-шоу, хакатони, круглі столи. Ми раді новій зустрічі. Все буде Google! 
            </p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row">
    <div class="col-lg-4">
        <img class="img-circle" src="/static/images/gdg-leaders-summit.png" alt="GDG Leaders Summit">
        <h2>Саміт лідерів GDG</h2>
        <p>
            <b style="font-weight: 600;">26 жовтня</b>, в приміщенні GlobalLogic в Києві зберуться лідери
            <abbr title="Google Developers Group">GDG</abbr> з України, щоб поділитися досвідом ком'юніті менеджменту, найкращими практиками проведення івентів та просто поспілкуватися</p>
        <p>
            <a class="btn btn-default" href="/summit">Деталі &raquo;</a>
        </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="/static/images/hackathon.png" alt="Hackathon">
        <h2>Хакатони та техтолк</h2>
        <p>
            <b style="font-weight: 600;">26 жовтня</b>, нон-стоп кодинг для найстійкіших, море RedBull'у, фану та цікавих знайомств і все для того, щоб показати в кінці робочий прототип додатку на найновіших платформах від Google. Паралельно буде відбуватися техтолк з творцем  ProGuard, бельгійцем Еріком Лафортюн (Eric Lafortune)</p>
        <p>
            <a class="btn btn-default" href="/hackathon">Деталі &raquo;</a>
        </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="/static/images/conference.png" alt="Conference">
        <h2>Конференція</h2>
        <p>
            <b style="font-weight: 600;">27 жовтня</b>, в приміщенні надсучасного бізнес центру "101 Towers" у самісінькому центрі Києва відбудеться найбільша девелоперська конференція присвячена технологіям Google в Україні. В програмі кіноути, три потоки доповідей від
            <a href="/speakers/">відомих спікерів</a>, визначення найактивнішої
            <abbr title="Google Developers Group">GDG</abbr> групи в Україні та ще багато цікавого</p>
        <p>
            <a href="/registration" class="btn btn-large btn-primary">Зареєструватися</a>
            <a class="btn btn-default" href="/conference">Деталі &raquo;</a>
        </p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


<hr class="featurette-divider">
</div>

{% include "blocks/partners.html" %} 

{% endblock %}