{% extends "base.html" %} 

{% load static %} 

{% block carousel %} 
    {% include "blocks/carousel.html" %} 
{% endblock %} 

{% block content %}

<div class="container">
<div class="row featurette">
    <div class="col-md-5">
        <h2 class="featurette-heading">26-27 жовтня, Київ</h2>
        <p class="lead no_a_highlight">
            <a href="/location#location_1">Офіс Ciklum, вул. Амосова 12</a>
            <br/>
            <a href="/location#location_2">БЦ "101 Towers", вул. Льва Толстого 57</a>
        </p>
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">Що?</h2>
        <p class="lead">
            <b style="font-weight: 500;">DevFest</b>- це щорічний івент, організований силами українського ком'юніті Google Developers Group. Основна мета — зустріч всіх, хто цікавиться технологіями Google для обміну досвідом, знайомств і навчання. В програмі: саміт лідерів
            <abbr title="Google Developers Group">GDG</abbr>, хакатон, конференція.</p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row">
    <div class="col-lg-4">
        <img class="img-circle" src="/static/images/gdg-leaders-summit.png" alt="GDG Leaders Summit">
        <h2>Саміт лідерів GDG</h2>
        <p>
            <b style="font-weight: 600;">26 жовтня</b>, в приміщенні DataArt в Києві зберуться лідери
            <abbr title="Google Developers Group">GDG</abbr> з України, Білорусі, Німеччини та Туреччини, щоб поділитися досвідом ком'юніті менеджменту, найкращими практиками проведення івентів та просто поспілкуватися</p>
        <p>
            <a class="btn btn-default" href="/summit">Деталі &raquo;</a>
        </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="/static/images/hackathon.png" alt="Hackathon">
        <h2>Хакатон</h2>
        <p>
            <b style="font-weight: 600;">26 жовтня</b>, 10 годин нон-стоп кодингу для найстійкіших, море RedBull'у, фану та цікавих знайомств і все для того, щоб показати в кінці робочий прототип додатку на одній з найновіших платформ від Google</p>
        <p>
            <a class="btn btn-default" href="/hackathon">Деталі &raquo;</a>
        </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="/static/images/conference.png" alt="Conference">
        <h2>Конференція</h2>
        <p>
            <b style="font-weight: 600;">27 жовтня</b>, в приміщенні надсучасного бізнес центру "101 Towers" у самісінькому центрі Києва відбудеться найбільша девелоперська конференція присвячена технологіям Google в Україні. В програмі кіноути, три потоки доповідей від
            <a href="/speakers/">відомих спікерів</a>, визначення найактивнішої
            <abbr title="Google Developers Group">GDG</abbr> групи в Україні та ще багато цікавого</p>
        <p>
            <a href="/registration" class="btn btn-large btn-primary">Зареєструватися</a>
            <a class="btn btn-default" href="/conference">Деталі &raquo;</a>
        </p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


<hr class="featurette-divider">
</div>

{% include "blocks/partners.html" %} 

{% endblock %}