{% extends "base.html" %}
{% load static %}

{% block page_title %}Розташування &middot; GDG DevFest Ukraine 2013{% endblock %}

{% block carousel %}
    {% include "blocks/carousel.html" %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1 id="speakers_header">Розташування</h1>
            <div> 
                Фестиваль буде проходити в чотирьох локаціях. Саміт лідерів <abbr title="Google Developers Group">GDG</abbr> та техтолк з Еріком Лафортюн в приміщенні <a href="#location_1">офісу GlobalLogic</a>, AndroidHot хакатон - на <a href="#location_1">20 поверсі офісу Ciklum</a>, AngularJSabbath хакатон - на <a href="#location_3">6 поверсі DataArt</a> та конференція - в надсучасному <a href="#location_2">бізнес центрі "101 Towers"</a>, в  центрі Києва.
            </div>
        </div>        
    </div>

      <div class="row location_row">
        <div class="col-xs-12 col-sm-4 col-md-4 location-text">
            <a id="location_1"></a>
			<a href="http://www.ciklum.com/"><img class="location_logo" src="{% static "images/partners/ciklum.jpg" %}" alt="Ciklum"/></a>
            <a href="http://www.globallogic.com.ua/en/"><img class="location_logo" src="{% static "images/partners/globallogic.jpg" %}" alt="Ciklum"/></a>
            <h3>Офіс Ciklum та GlobalLogic</h3>
			<p>Україна, Київ, вул. Амосова 12</p>
            
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6">
			<a class="google_map" href="https://maps.google.com.ua/maps?expflags=enable_star_based_justifications:true&ie=UTF8&cid=12510346322489928835&q=Ciklum&iwloc=A&gl=UA&hl=en" >
          		<img class="map" src="http://maps.google.com/maps/api/staticmap?center=50.422850,30.504307&zoom=15&markers=label:C|50.422850,30.504307&size=570x300&sensor=true" alt="Україна, Київ, вул. Амосова 12">
			</a>
       </div>
	  </div>
	
    <div class="row location_row">
        <div class="col-xs-12 col-sm-4 col-md-4 location-text">
            <a id="location_3"></a>
			<a href="http://www.dataart.ua/"><img class="location_logo" src="{% static "images/partners/dataart.jpg" %}" alt="Data Art"/></a>
            <h3>Офіс DataArt</h3>
			<p>Україна, Київ, Бехтеревский провулок 14-E</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6">
			<a class="google_map" href="http://goo.gl/6xBZNB" >
          		<img class="map" src="http://maps.google.com/maps/api/staticmap?center=50.459306,30.496771&zoom=15&markers=color:red|label:D|50.459306,30.496771&size=570x300&sensor=true" alt="Київ, Бехтеревский провулок 14E">
			</a>
       </div>
	  </div>

    <div class="row location_row">
        <div class="col-xs-12 col-sm-4 col-md-4 location-text">
            <a id="location_2"></a>
            <a href="http://www.101tower.com.ua/"><img class="location_logo" src="{% static "images/partners/101tower.png" %}" alt="Бізнес центр 101 Tower"/></a>
			<h3>Бізнес центр "101 Towers"</h3>
			<p>Україна, Київ, вул. Льва Толстого 57</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6">
			<a class="google_map" href="https://www.google.com/maps?sll=50.42264292691881%2C30.505053482484673&sspn=0.0053529955683637815%2C0.014904554918793477&t=m&q=101+Tower%2C+L'va+Tolstoho+street%2C+Kiev%2C+Kyiv+city%2C+Ukraine&output=classic" >
          		<img class="map" src="http://maps.google.com/maps/api/staticmap?center=50.439222,30.496373&zoom=15&markers=label:T|50.422850,30.504307|50.439222,30.496373&size=570x300&sensor=true" alt="Україна, Київ, вул. Льва Толстого 57">
			</a>
       </div>
	  </div>

		
      <hr class="featurette-divider">

      {% include "blocks/partners.html" %}
      
{% endblock %}
