{% extends "base.html" %}
{% load static %}

{% block page_title %}Реєстрація &middot; GDG DevFest Ukraine 2013{% endblock %}

{% block carousel %}
    {% include "blocks/carousel.html" %}
{% endblock %}

{% block content %}
    
    <h1 id="speakers_header">Реєстрація</h1>

<!--        <p style="margin-top: 40px">Участь в події абсоютно безкоштовна, але реєстрація обовязкова. Для реєстрації заповніть форму нижче, або за <a href="http://gdg.org.ua/events/27/register">посиланням</a>.</p>-->

<p style="margin: 40px 0px">Участь в події абсоютно безкоштовна, але реєстрація обовязкова. Реєстрація на хакатон буде відкрита згодом, stay tuned!</p>
    
    <div class="alert alert-warning">
        <p>Друзі! Ми щасливі і дуже вдячні вам за нестримне прагнення потрапити на GDG DevFest Ukraine 2013! Але після однієї доби (!) реєстрації в нас залишилось тільки 25% посадочних місць! Було б несправедливо позбавити надії тих, хто ще навіть не дізнався про наш DevFest.</p><br/>
        <p>Ми хочемо дати шанс тим, хто прийде після нових анонсів і публікацій. <b>Отже зараз реєстрацію на DevFest тимчасово призупинено. Її буде відновлено 11-го жовтня за тим самим посиланням.</b> Не прогавте цей щасливий момент!</p></div>

	  <div class="alert alert-info" style="margin-bottom: 40px"><b>Зверніть увагу,</b> <a href="/agenda">дати проведення</a> хакатону та саміту лідерів GDG змінено, також змінілося <a href="/location">місце проведення</a> конференції</div>

        

<!--     <iframe src="http://gdg.org.ua/events/27/register"  width="100%" height="2200px" marginheight="0" frameborder="0"></iframe>-->
	 	
		
      <hr class="featurette-divider">
	  {% include "blocks/partners.html" %}

{% endblock %}
