{% extends "base.html" %}
{% load static %}

{% block page_title %}Speakers &middot; GDG DevFest Ukraine 2013{% endblock %}

{% block carousel %}
    {% include "blocks/carousel.html" %}
{% endblock %}

{% block content %}
      <div class="row speakers" >
		 <div id="dmytro_maleev" class="col-xs-12 col-sm-12 col-md-6">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/dimka-maleev.png" %}" alt="Дмитро Малєєв">
			 </div>
			<div class="speaker-text">
	          	<h3>Дмитро Малєєв</h3>
				<h4>Mobility Solution Manager, SoftServe</h4>
				<p>Діма має більш ніж 6-річний досвід в області ІТ. 
					В даний час він працює менеджером з мобільних 
					рішень для SoftServe. Він – прихильник ІТ спільнот, 
				    активний  спікер, засновник і лідер .NET User Group 
					у Львові, активний член Mobilination, TEDx, доповідач 
					на IT Jam та IT Weekend.</p>
			</div>
		</div>
		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="data:image/png;base64," data-src="holder.js/160x160" alt="Generic placeholder image">
			 </div>
			<div class="speaker-text">
	          	<h3>Name Surname</h3>
				<h4>Position, Company</h4>
				<p>Eram eu fabulas. Eu a sint vidisse ut est labore mandaremus non multos ne 
					mentitum eu ex sunt sempiternum. </p>
			</div>
		</div>
	  </div>
	  
	  <div class="row speakers" >
		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="data:image/png;base64," data-src="holder.js/160x160" alt="Generic placeholder image">
			 </div>
			<div class="speaker-text">
	          	<h3>Name Surname</h3>
				<h4>Position, Company</h4>
				<p>Eram eu fabulas. Eu a sint vidisse ut est labore mandaremus non multos ne 
					mentitum eu ex sunt sempiternum. Quid quamquam ad expetendis, ita anim ita 
					aliqua, o incididunt aut senserit ab commodo de malis admodum. Velit illustriora 
					laboris irure commodo qui ita veniam litteris fidelissimae nam aute a mandaremus 
					quo aut ubi despicationes si nulla iis est elit doctrina hic ab multos offendit 
					ullamco, quo elit doctrina ad te sed aute quem malis. Ubi anim quae nisi officia 
					ut appellat aut enim. In duis reprehenderit nam labore est incurreret, o nulla 
					distinguantur, probant familiaritatem an aliquip, aut ea quem quem dolore et 
					elit possumus offendit se ubi varias quamquam est cernantur quem labore aut 
					esse.</p>
			</div>
		</div>
		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="data:image/png;base64," data-src="holder.js/160x160" alt="Generic placeholder image">
			 </div>
			<div class="speaker-text">
	          	<h3>Name Surname</h3>
				<h4>Position, Company</h4>
				<p>Eram eu fabulas. Eu a sint vidisse ut est labore mandaremus non multos ne 
					mentitum eu ex sunt sempiternum. Quid quamquam ad expetendis, ita anim ita 
					aliqua, o incididunt aut senserit ab commodo de malis admodum. Velit illustriora 
					laboris irure commodo qui ita veniam litteris fidelissimae nam aute a mandaremus 
					quo aut ubi despicationes si nulla iis est elit doctrina hic ab multos offendit 
					ullamco, quo elit doctrina ad te sed aute quem malis. Ubi anim quae nisi officia 
					ut appellat aut enim. In duis reprehenderit nam labore est incurreret, o nulla 
					distinguantur, probant familiaritatem an aliquip, aut ea quem quem dolore et 
					elit possumus offendit se ubi varias quamquam est cernantur quem labore aut 
					esse.</p>
			</div>
		</div>
	  </div>
		
		<div class="row speakers" >
		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="data:image/png;base64," data-src="holder.js/160x160" alt="Generic placeholder image">
			 </div>
			<div class="speaker-text">
	          	<h3>Name Surname</h3>
				<h4>Position, Company</h4>
				<p>Eram eu fabulas. Eu a sint vidisse ut est labore mandaremus non multos ne 
					mentitum eu ex sunt sempiternum. Quid quamquam ad expetendis, ita anim ita 
					aliqua, o incididunt aut senserit ab commodo de malis admodum. Velit illustriora 
					laboris irure commodo qui ita veniam litteris fidelissimae nam aute a mandaremus 
					quo aut ubi despicationes si nulla iis est elit doctrina hic ab multos offendit 
					ullamco, quo elit doctrina ad te sed aute quem malis. Ubi anim quae nisi officia 
					ut appellat aut enim. In duis reprehenderit nam labore est incurreret, o nulla 
					distinguantur, probant familiaritatem an aliquip, aut ea quem quem dolore et 
					elit possumus offendit se ubi varias quamquam est cernantur quem labore aut 
					esse.</p>
			</div>
		</div>
		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="data:image/png;base64," data-src="holder.js/160x160" alt="Generic placeholder image">
			 </div>
			<div class="speaker-text">
	          	<h3>Name Surname</h3>
				<h4>Position, Company</h4>
				<p>Eram eu fabulas. Eu a sint vidisse ut est labore mandaremus non multos ne 
					mentitum eu ex sunt sempiternum. Quid quamquam ad expetendis, ita anim ita 
					aliqua, o incididunt aut senserit ab commodo de malis admodum. Velit illustriora 
					laboris irure commodo qui ita veniam litteris fidelissimae nam aute a mandaremus 
					quo aut ubi despicationes si nulla iis est elit doctrina hic ab multos offendit 
					ullamco, quo elit doctrina ad te sed aute quem malis. Ubi anim quae nisi officia 
					ut appellat aut enim. In duis reprehenderit nam labore est incurreret, o nulla 
					distinguantur, probant familiaritatem an aliquip, aut ea quem quem dolore et 
					elit possumus offendit se ubi varias quamquam est cernantur quem labore aut 
					esse.</p>
			</div>
		</div>
	  </div>
	 	
		
      <hr class="featurette-divider">
	  {% include "blocks/partners.html" %}

{% endblock %}
