{% extends "base.html" %}
{% load static %}

{% block page_title %}Спікери &middot; GDG DevFest Ukraine 2013{% endblock %}

{% block carousel %}
    {% include "blocks/carousel.html" %}
{% endblock %}

{% block content %}
    
    <h1 id="speakers_header">Зустрічайте експертів</h1>

	  <div class="row speakers" >
           
          <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/ihar-mahaniok.jpg" %}" alt="Ihar Mahaniok">
			 </div>
			<div class="speaker-text">
	          	<h3>Ihar Mahaniok <span class="speaker-country">(США)</span></h3>
				<h4>Senior Software Engineer, Google</h4>                
				<p>Software Engineer with a significant experience and interest in complex backend projects, mostly C/C++; knowledge and success in application of fundamental algorithms and data structures. 
Expertise in data analysis, signals extraction, data processing, ranking. Did projects in Search, Android, Books, Shopping, Offers. </p>
			</div>
		</div>
          
		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/eric-lafourtune.jpg" %}" alt="Eric Lafortune">
			 </div>
			<div class="speaker-text">
	          	<h3>Eric Lafortune <span class="speaker-country">(Бельгія)</span></h3>
				<h4>Technical Director, Saikoa</h4>
				<p>Eric Lafortune is the creator of <a href="http://proguard.sourceforge.net/">ProGuard</a>, which he has been developing for more than 10 years now. At his recent startup Saikoa, he puts all his energy in driving ProGuard and DexGuard forward, and helping customers build compact and hardened Android applications.</p>
			</div>
		</div>
		
	  </div>

      <div class="row speakers" >
		
		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/paul-lammertsma.jpg" %}" alt="Paul Lammertsma">
			 </div>
			<div class="speaker-text">
	          	<h3>Paul Lammertsma <span class="speaker-country">(Нідерланди)</span></h3>
				<h4>CTO, Android developer, Pixplicity</h4>
				<p>Paul is CTO and co-founder of Pixplicity, Holland’s leading Android-specific consulting and app-building company. He applies his knowledge of Java, Android and Linux in Pixplicity to develop high-quality apps and provide technical solutions for customers such as C1000, Nestlé, De Telegraaf, AGIS and De Consumentenbond.</p>
			</div>
		</div>
          
         <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/ahmet-mermerkaya.jpg" %}" alt="Ahmet Oguz Mermerkaya">
			 </div>
			<div class="speaker-text">
	          	<h3>Ahmet Oguz Mermerkaya <span class="speaker-country">(Туреччина)</span></h3>
				<h4>GDG Ankara Manager</h4>
				<p>Android developer, author of “Merhaba, Android!” book, Android Developer Days Ankara 2013 organizer - conference which was organized on the highest level.</p>
			</div>
		</div>
          
	  </div>
	
		
		<div class="row speakers" >

		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/roman-mazur.jpg" %}" alt="Роман Мазур">
			 </div>
			<div class="speaker-text">
	          	<h3>Роман Мазур</h3>
				<h4>Head of Andoird/Java Unit, Stanfy</h4>
                <h4>GDG Kyiv-Center Manager</h4>
				<p>Роман розпочав свій шлях в Android більше 3-х років тому і з того часу закохався в цю платформу. На даний момент він очолює Android-відділ у Stanfy, відповідаючи там за формування сильної команди Android-розробників, та є активним членом Google Developer Group у Києві. У минулому був одним з організаторів змагання Sapka. Ви знайдете його ім’я у списках контріб’ютерів до проектів Enroscar, Robolectric та Android support library.</p>
			</div>
		</div>
            
         <div id="dmytro_maleev" class="col-xs-12 col-sm-12 col-md-6">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/dimka-maleev.png" %}" alt="Дмитро Малєєв">
			 </div>
			<div class="speaker-text">
	          	<h3>Дмитро Малєєв</h3>
				<h4>Mobility Solution Manager, SoftServe</h4>
				<p>Діма має більш ніж 6-річний досвід в області ІТ. 
					В даний час він працює менеджером з мобільних 
					рішень для SoftServe. Він – прихильник ІТ спільнот, 
				    активний  спікер, засновник і лідер .NET User Group 
					у Львові, активний член Mobilination, TEDx, доповідач 
					на IT Jam та IT Weekend.</p>
			</div>
		</div>    
            
	  </div>

    <div class="row speakers" >

		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/yegor-anchishkin.jpg" %}" alt="Єгор Анчішкін">
			 </div>
			<div class="speaker-text">
	          	<h3>Єгор Анчішкін</h3>
				<h4>CEO at Zakaz.ua</h4>
				<p>Засновник стартапу Viewdle, що став найбільшою покупкою Google на пост радянському просторі. На даний момент CEO проекту Zakaz.Ua. Займається розробкою клієнту для Google Glass.</p>
			</div>
		</div>
            
         <div id="dmytro_maleev" class="col-xs-12 col-sm-12 col-md-6">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/dmytro-danylyk.jpg" %}" alt="Дмитро Данилик">
			 </div>
			<div class="speaker-text">
	          	<h3>Дмитро Данилик</h3>
				<h4>Android Platform Software Developer, Lemberg Solutions Ltd.</h4>
				<p>Більше двох років досвіду розробки Android-додатків.
                    Доповідач у Google Developers Group Lviv та DevFest Ukraine 2012. 
                    Фіналіст Google Apps Developer Challenge 2012. 
                    Автор технічних статтей для androidweekly.net, mobile.tutsplus.com, blog.lemberg.co.uk. 
                    Великий фанат stackoverflow, git, Intellij IDEA. Ненависник Eclipse IDE.</p>
			</div>
		</div>    
            
	  </div>

     <div class="row speakers" >

		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/valentyn-shybanov.jpg" %}" alt="Валенитин Шибанов">
			 </div>
			<div class="speaker-text">
	          	<h3>Валенитин Шибанов</h3>
                <h4>Regional Director, Twinfield</h4>
				<h4>GDG Kyiv-Center</h4>
				<p>Досвідчений веб розробник, ентузіаст Angular JS та Dart.</p>
			</div>
		</div>
            
         <div id="dmytro_maleev" class="col-xs-12 col-sm-12 col-md-6">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/vitalik-zasadnyy.JPG" %}" alt="Дмитро Данилик">
			 </div>
			<div class="speaker-text">
	          	<h3>Віталік Засадний</h3>
				<h4>Team Lead, Game Developer, Nravo</h4>
                <h4>Co-founder, Manager, GDG Lviv</h4>
				<p>Фанат Google, активний доповідач як на українських конференціях так і за кордоном, останнім часом цікавиться розробкою ігор на Unity3D. Співзасновник найктивнішої GDG групи в Україні.</p>
			</div>
		</div>    
            
	  </div>
	 	
      <div class="well"> 
          <div class="row">
            <div class="col-md-2"><a href="https://docs.google.com/forms/d/1pJWtAfbIeLDMUZIlawXG8duqV0ApoB1HMhV6kVJISvY/viewform" id="become_speaker"  class="btn btn-default">Стати спікером</a></div>
            <div class="col-md-10"><i>Маєш досвід виступу на івентах, та хочеш поділитися чимось цікавим? Ми шукаємо доповідачів. Пам'ятай бути спікером не лише цікаво, а й престижно!</i></div>
         </div></div>
		
      <hr class="featurette-divider">
	  {% include "blocks/partners.html" %}

{% endblock %}
