{% extends "base.html" %}
{% load static %}

{% block page_title %}Спікери &middot; GDG DevFest Ukraine 2013{% endblock %}

{% block carousel %}
    {% include "blocks/carousel.html" %}
{% endblock %}

{% block content %}
    
    <h1 id="speakers_header">Зустрічайте експертів</h1>

	  <div class="row speakers" >
		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/eric-lafourtune.jpg" %}" alt="Eric Lafortune">
			 </div>
			<div class="speaker-text">
	          	<h3>Eric Lafortune</h3>
				<h4>Technical Director, Saikoa</h4>
				<p>Eric Lafortune is the creator of <a href="http://proguard.sourceforge.net/">ProGuard</a>, which he has been developing for more than 10 years now. At his recent startup Saikoa, he puts all his energy in driving ProGuard and DexGuard forward, and helping customers build compact and hardened Android applications.</p>
			</div>
		</div>
		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/paul-lammertsma.jpg" %}" alt="Paul Lammertsma">
			 </div>
			<div class="speaker-text">
	          	<h3>Paul Lammertsma</h3>
				<h4>CTO, Android developer, Pixplicity</h4>
				<p>Paul is CTO and co-founder of Pixplicity, Holland’s leading Android-specific consulting and app-building company. He applies his knowledge of Java, Android and Linux in Pixplicity to develop high-quality apps and provide technical solutions for customers such as C1000, Nestlé, De Telegraaf, AGIS and De Consumentenbond.</p>
			</div>
		</div>
	  </div>

      <div class="row speakers" >
		
		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/benjamin-weiss.jpg" %}" alt="Benjamin Weiss">
			 </div>
			<div class="speaker-text">
	          	<h3>Benjamin Weiss</h3>
				<h4>Senior Software Developer, ImmobilienScout24</h4>
                <h4>GDG Berlin Manager</h4>
				<p>After moving to Berlin in 2009 Benjamin started developing Applications for Android. Shortly after that he became manager of Berlin’s Android Usergroup “GDG Android in Berlin” wich holds monthly meetups. He has co-organized Android related community events such as “GTUG Community Weekend”, “Global Android Dev Camp” and “GDG DevFest”. While studying Business Computing he and his team developed the Guinness World Record holding Open Source App Blinkendroid. He has also developed the Crouton library for Android. Further is a member of c-base hackerspace’s mobile interfaces project that is currently focusing on home automation.</p>
			</div>
		</div>
          
         <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/ahmet-mermerkaya.jpg" %}" alt="Ahmet Oguz Mermerkaya">
			 </div>
			<div class="speaker-text">
	          	<h3>Ahmet Oguz Mermerkaya</h3>
				<h4>GDG Ankara Manager</h4>
				<p>Eram eu fabulas. Eu a sint vidisse ut est labore mandaremus non multos ne 
					mentitum eu ex sunt sempiternum. Quid quamquam ad expetendis, ita anim ita 
					aliqua, o incididunt aut senserit ab commodo de malis admodum. Velit illustriora 
					laboris irure commodo qui ita veniam litteris fidelissimae nam aute a mandaremus 
					quo aut ubi despicationes.</p>
			</div>
		</div>
          
	  </div>
	
		
		<div class="row speakers" >

		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/roman-mazur.jpg" %}" alt="Роман Мазур">
			 </div>
			<div class="speaker-text">
	          	<h3>Роман Мазур</h3>
				<h4>Head of Andoird/Java Unit, Stanfy</h4>
                <h4>GDG Kyiv-Center Manager</h4>
				<p>Роман розпочав свій шлях в Android більше 3-х років тому і з того часу закохався в цю платформу. На даний момент він очолює Android-відділ у Stanfy, відповідаючи там за формування сильної команди Android-розробників, та є активним членом Google Developer Group у Києві. У минулому був одним з організаторів змагання Sapka. Ви знайдете його ім’я у списках контріб’ютерів до проектів Enroscar, Robolectric та Android support library.</p>
			</div>
		</div>
            
         <div id="dmytro_maleev" class="col-xs-12 col-sm-12 col-md-6">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/dimka-maleev.png" %}" alt="Дмитро Малєєв">
			 </div>
			<div class="speaker-text">
	          	<h3>Дмитро Малєєв</h3>
				<h4>Mobility Solution Manager, SoftServe</h4>
				<p>Діма має більш ніж 6-річний досвід в області ІТ. 
					В даний час він працює менеджером з мобільних 
					рішень для SoftServe. Він – прихильник ІТ спільнот, 
				    активний  спікер, засновник і лідер .NET User Group 
					у Львові, активний член Mobilination, TEDx, доповідач 
					на IT Jam та IT Weekend.</p>
			</div>
		</div>    
            
	  </div>
	 	
      <div class="well"> 
          <div class="row">
            <div class="col-md-2"><a href="https://docs.google.com/forms/d/1pJWtAfbIeLDMUZIlawXG8duqV0ApoB1HMhV6kVJISvY/viewform" id="become_speaker"  class="btn btn-default">Стати спікером</a></div>
            <div class="col-md-10"><i>Маєш досвід виступу на івентах, та хочеш поділитися чимось цікавим? Ми шукаємо доповідачів. Пам'ятай бути спікером не лише цікаво, а й престижно!</i></div>
         </div></div>
		
      <hr class="featurette-divider">
	  {% include "blocks/partners.html" %}

{% endblock %}
